
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

.footer {
   /*footer height*/
    
    background-color: #FDD69D;
    position: absolute;
    height: 488px;
    width: 1440px;
    margin:auto;
    left: 0px;
    top: 4650px;

    /*font settings*/
    font-style: normal;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    

}

#flex-container li a {
    
    
   
    display: inline;
    align-items: center;
    text-align: center;
    color: black;
    background-color: #FDD69D;
    
    

}

#flex-container li a:hover {
    color: #41B3A3;
    background-color: #FDD69D; 
}
#flex-container {
    /* We first create a flex layout context */
    display: flex;
    background-color :#FDD69D;
    
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column ;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
    
    
    padding-left: 110px;
    padding-top:80px;  
    padding-bottom: 85px;
    margin: 10px;
    list-style: none;
  }
  
  .flex-item {
            

      }  

a {
  
    line-height: 71px;
    display: flex;
    align-items: center;
}

.footer #title{
    font-style: normal;
    font-weight: normal;
}


  