/* Global Overwrites */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Archivo:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Controls.js */

.controls {
    text-align: center;
}

.controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.controls li {
    float: left;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.controls li a:hover {
    background-color: #111;
}


/* Navbar.js */

.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.navbar li:last-child {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDD69D;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    font-family: 'Barlow';
    font-size: 36px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}


/* Home.js */

.home {
    border: 60px solid #9AD6F3;
    background-color: #EAF6FC;
    text-align: center;
}


/* FirstPage.js */

.first-page {
    text-align: end;
    padding-top: 15%;
}

.first-page-logo {
    position: absolute;
    left: 25%;
    top: 150px;
    z-index: 50;
}

.first-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 100;
    margin-top: 12%;
}

.first-page-container img:first-child {
    margin-left: 19%;
    margin-top: 7%;
}

.first-page-container-info {
    display: flex;
    flex-flow: column;
    background-image: url('/images/islands/island1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 1% 0 0;
    height: 24vh;
    width: 13%;
    margin-right: 17%;
}

.first-page-container-info p:first-child {
    font-family: 'Montserrat';
    /* font-size: 25px; */
    font-size: 2vw;
    font-weight: bold;
}

.first-page-container-info p:last-child {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
}

.first-page img:last-child {
    position: relative;
    right: 10%;
    margin-bottom: 5%;
}


/* AboutIsland.js */

.about-island {
    background-image: url('/images/islands/island2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5% 0 7%;
    margin-right: 4%;
}

.about-island .about-island-title {
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.about-island .about-island-body {
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 300;
    line-height: 40px;
    padding: 2% 15% 0;
 }


/* MeetOurRobot.js */

.meet-robot {
    margin-left: 15%;
    margin-bottom: 12%
} 

.meet-robot-top {
    margin-left: -30%;
}

.meet-robot-top .meet-robot-bubble2 {
    margin-left: 27%;
    margin-bottom: 1%;
}

.meet-robot p {
    font-family:'Barlow';
    font-size: 3vw;
    text-align: center;
    margin-right: 58%;
    padding-bottom: 0%;
    font-weight: 600;
}

.meet-robot-bubble1 {
  height: 2vw;
  width: 2vw;
  background-color: #9CBCCC;
  border-radius: 50%;
  animation: pulse 5s infinite;
  margin-left: 30%;
}

.meet-robot-bubble2{ 
    height: 2vw;
    width: 2vw;
    background-color: #9CBCCC;
    border-radius: 50%;
    animation: pulse 5s infinite;
    margin-left: 32%;
}

.meet-robot-bubble3 {
    height: 1vw;
    width: 1vw;
    background-color: #9CBCCC;
    border-radius: 50%;
    animation: pulse 5s infinite;
    margin-left: 30%; 
}

@keyframes pulse {
    0% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
    50% {
        transform: scale(1.5);
        transform: translate(50%, -50%);
    }
    100% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
}


/* NameIsland.js */

.name-island {
    background-image: url('/images/islands/island4.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 10% 0%;
    padding: 4.5% 0 10%;
    width: 50%;
 }

.name-island-title {
    font-family: 'Archivo', sans-serif;
    font-size: 2.9vw;
    font-weight: 500;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 7%;
    
}

.name-island-subtitle {
    font-family: 'Archivo', sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 15%;
}

.name-island-body {
    font-family: 'Poppins';
    font-size: 1.39vw;
    font-weight: 300;
    padding-top: 1.5%;
    padding-bottom: 1%;
    margin-left: 11%;
    margin-right: 7%;
}

.name-island-bubble1 {
    width: 1vw;
    height: 1vw;
    background-color: #9CBCCC;
    border-radius: 50%;
    margin-left: 150%;
}

.name-island-bubble2 {
    width: 1vw;
    height: 1vw;
    background-color: #9CBCCC;
    border-radius: 50%;
    margin-left: 148%;
}

.name-island-bubble3 {
    width: 1vw;
    height: 1vw;
    background-color: #9CBCCC;
    border-radius: 50%;
    margin-left: 152%;
}


/* Timeline.js */

.timeline {
    border: 5px solid black;
}

.timeline-submarine {
    background-image: url('/images/timeline/submarine3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.timeline-submarine-title {
    font-family: 'Barlow';
    font-size: 43px;
}

.timeline-submarine-windows {
    display: flex;
    justify-content: space-between;
    padding: 9% 12% 10%;
}

.timeline-submarine-windows p {
    background-color: #CDFCFF;
    border-radius: 50%;
    padding: 0.75% 2.5%;
    font-size: 35px;
    font-weight: 300;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.timeline-stage {
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}


/* HomeControls.js */

.home-controls {
    background-image: url('/images/islands/island5.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Barlow';
    font-size: 30%;
    font-weight: 300;
    width: 95%;
    margin: 0 23.5% 15%;
    padding: 13% 0 19%;
    text-align: center;
    cursor: pointer;
}

.home-controls p {
    margin-top: -4%;
    margin-left: -43%;
    margin-bottom: 0;
    font-size: 3vw;
}

.home-controls:hover {
    opacity: 0.3;
}


/* Footer.js */

.footer {
    text-align: right;
    color: black;
    background-color: #A9D09E;
    padding: 2%;
}

.footer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20%;
}

.footer-container-title{
    font-family: 'M PLUS 1p';
    font-size: 40px;
}

.footer-container-email {
    font-family: 'Barlow';
    font-size: 27px;
    margin: 2% 0;
}

.footer-container-icons a {
    margin: 0 10px;
}

.footer-container-icons a:hover {
    margin: 0 50px;
}

.footer-container > a {
    font-family: 'Barlow';
    text-decoration: none;
    color: #A9D09E;
    background-color: #1A1717;
    font-size: 22px;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
}

.footer-text {
    font-family: 'Poppins';
    font-size: 20px;
}



