/* Global Overwrites */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Controls.js */

.controls {
    text-align: center;
}

.controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.controls li {
    float: left;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.controls li a:hover {
    background-color: #111;
}


/* ContactUs.js */

.contact-us {
    text-align: center;
}


/* Navbar.js */

.navbar {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.navbar li:last-child {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDD69D;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    font-family: 'Barlow';
    font-size: 36px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}



/* Home.js */

.home {
    border: 60px solid #9AD6F3;
    background-color: #EAF6FC;
    text-align: center;
}

.home-controls {
    background-image: url('/images/islands/island5.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Barlow';
    font-size: 72px;
    font-weight: 300;
    width: 95%;
    margin: 0 2.5% 15%;
    padding: 13% 0 19%;
}


/* FirstPage.js */

.first-page {
    text-align: end;
    padding-top: 15%;
    border: 1px solid black;
}

.first-page-logo {
    position: absolute;
    left: 300px;
    top: 80px;
    z-index: 50;
}

.first-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 100;
    padding-top: 10%;
}

.first-page-container img:first-child {
    padding-left: 8%;
}

.first-page-container-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-image: url('/images/islands/island1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5% 6% 7% 1%;
    height: 22vh;
    width: 18%;
    margin-bottom: 3%;
}

.first-page-container-info p {
    font-size: 28px;
    font-weight: 600;
}

.first-page-container-info p:last-child {
    cursor: pointer;
    border-radius: 10px;
    background-color: #A1D9F4;
    padding: 3% 0;
}

.first-page img:last-child {
    position: relative;
    left: 55px;
    margin-bottom: 5%;
}


/* Timeline.js */

.timeline {
    border: 1px solid black;
}

.timeline-title {
    font-family: 'Open Sans';
    font-size: 64px;
}

.timeline-submarine {
    display: flex;
    justify-content: space-between;
    background-image: url('/images/timeline/submarine3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30% 20% 15%;
}

.timeline-active1 {
    background-image: url('/images/timeline/submarine1.png');
}

.timeline-active2 {
    background-image: url('/images/timeline/submarine2.png');
}

.timeline-active1 {
    background-image: url('/images/timeline/submarine3.png');
}

.timeline-active1 {
    background-image: url('/images/timeline/submarine1.png');
}

.timeline-active1 {
    background-image: url('/images/timeline/submarine1.png');
}

.timeline-submarine p {
    background-color: #E3F4F0;
    border: 10px solid white;
    border-radius: 50%;
    padding: 0 2.5%;
    font-size: 45px;
    font-weight: 300;
    cursor: pointer;
}

/* Footer.js */

.footer {
    text-align: right;
    color: black;
    background-color: #A9D09E;
    padding: 2%;
}

.footer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20%;
}

.footer-container-title{
    font-family: 'M PLUS 1p';
    font-size: 64px;
    margin: 0;
}

.footer-container-email {
    font-family: 'Poppins';
    font-size: 43px;
    font-weight: 300;
    margin: 0 0 2%;
}

.footer-container-icons {
    display: flex;
}

.footer-container-icons a {
    margin: 0 10px;
}

.footer-container-icons a:hover {
    margin: 0 50px;
}

.footer-text {
    font-family: 'Poppins';
    font-size: 30px;
}
