/* Global Overwrites */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Archivo:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    padding:0;
    margin:0 auto;
}


p {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Controls.js */

.controls {
    text-align: center;
}

.controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.controls li {
    float: left;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.controls li a:hover {
    background-color: #111;
}


/* Navbar.js */

.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.navbar li:last-child {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDD69D;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    font-family: 'Barlow';
    font-size: 36px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}


/* Home.js */

.home {
    border: 60px solid #9AD6F3;
    background-color: #EAF6FC;
    text-align: center;
}


/* FirstPage.js */

.first-page {
    text-align: end;
    padding-top: 15%;
}

.first-page-bubbles,
.meet-robot-bubble,
.name-island-bubbles {
    background-color: #9CBCCC;
    border-radius: 50%;
    animation: pulse 5s infinite;
    margin-top: 1%;
}

.first-page-bubbles.bubbles-1 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 15%;
}

.first-page-bubbles.bubbles-2 {
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 17%;
}

.first-page-bubbles.bubbles-3 {
    width: 1.1vw;
    height: 1.1vw;
    margin-left: 15%;
}

.first-page-bubbles.bubbles-4 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 22%;
}

.first-page-bubbles.bubbles-5 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 19%;
}

.first-page-bubbles.bubbles-6 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 20%;
    margin-top: 2%;
}

.first-page-bubbles.bubbles-7 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 17%;
    margin-top: 3%;
}

.first-page-bubbles.bubbles-8 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 19%;
}

.first-page-bubbles.bubbles-9 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 18%;
}

.first-page-logo {
    position: absolute;
    left: 25%;
    top: 150px;
    z-index: 50;
}

.first-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 100;
    top: -16vh;
}

.first-page-container-image {
    margin-left: 18%;
    margin-top: 7%;
    background-image: url("/images/blue-robot.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    padding-top: 20%;
}

.first-page-container-image:hover {
    background-image: url("/images/blue-robot-arms-up.png");
}

.first-page-container-info {
    display: flex;
    flex-flow: column;
    background-image: url('/images/islands/island1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 1% 0 0;
    height: 15vh;
    width: 13%;
    margin-right: 17%;
    margin-bottom: 10%;
}

.first-page-container-info p:first-child {
    font-family: 'Poppins';
    /* font-size: 25px; */
    font-size: 1.85vw;
    font-weight: bold;
    padding-top: 5%;
}

.first-page-container-info p:last-child {
    font-family: 'Poppins';
    /* font-size: 18px; */
    font-size: 1.2vw;
    font-weight: 600;
}

.first-page img:last-child {
    position: relative;
    right: 10%;
    top: -16vh;
}


/* AboutIsland.js */

.about-island {
    background-image: url('/images/islands/island2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5% 0 7%;
    margin-right: 4%;
    margin-top: 5%;
}

.about-island .about-island-title {
    font-family: 'Archivo', sans-serif;
    /* font-size: 40px; */
    font-size: 3.5vw;
    font-weight: 500;
}

.about-island .about-island-body {
    font-family: 'Poppins';
    /* font-size: 19px; */
    font-size: 1.5vw;
    font-weight: 300;
    padding: 2% 15% 0;
 }


/* MeetOurRobot.js */ 

.meet-robot {
    margin-top: 20%;
}

.meet-robot-turtle {
    margin-right: 60%;
    margin-bottom: 2%;
}

.meet-robot > p {
    font-family:'Barlow';
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 0%;
    font-weight: 600;
    margin: 1% 42% 1% 0;
}

.meet-robot-bubble.bubble-1 {
    height: 1vw;
    width: 1vw;
    margin-left: 22%;
}

.meet-robot-bubble.bubble-2 { 
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 24%;
}

.meet-robot-bubble.bubble-3 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 22%; 
}

.meet-robot-bubble.bubble-4 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 36%; 
}

.meet-robot-bubble.bubble-5 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 38%; 
}

.meet-robot-bubble.bubble-6 {
    height: 1vw;
    width: 1vw;
    margin-left: 37%; 
}

@keyframes pulse {
    0% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
    50% {
        transform: scale(1.5);
        transform: translate(50%, -50%);
    }
    100% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
}

.model-view {
    background-image: url('/images/islands/island3.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20% 0% 10% 10%;
    margin: -30% 0% 0% 50%;
}

model-viewer {
    width: 300px;
    height: 400px;
    background-color: transparent;
    padding-top: 10%;
    margin-left: 0%;
    color: transparent;
    margin-top: -45%;
}


/* NameIsland.js*/

.name-island {
    position: relative;
    top: -15vh;
    background-image: url('/images/islands/island4.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 5%;
    padding: 5% 8% 7% 3%;
    width: 45%;
 }

.name-island-title {
    font-family: 'Archivo', sans-serif;
    font-size: 2.9vw;
    font-weight: 500;
    padding: 1.5% 0 1% 10%;
}

.name-island-subtitle {
    font-family: 'Archivo', sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    padding: 1.5% 0 1% 20%;
}

.name-island-body {
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 300;
    padding: 1.5% 1% 1%;
    margin: 0 5% 0 16%;
}

.name-island-bubbles.bubble-1 {
    position: absolute;
    left: 135%;
    top: 40%;
    height: 1.5vw;
    width: 1.5vw;
}

.name-island-bubbles.bubble-2 {
    position: absolute;
    left: 130%;
    top: 47%;
    width: 1.5vw;
    height: 1.5vw;
}

.name-island-bubbles.bubble-3 {
    position: absolute;
    left: 133%;
    top: 55%;
    width: 1vw;
    height: 1vw;
}


/* Timeline.js */

.timeline {
    margin-top: 10%;
    margin-bottom: 5%;
}

.timeline-bubbles {
    background-color: #9CBCCC;
    border-radius: 50%;
}

.timeline-bubbles.bubbles-1 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    animation: pop3 3s infinite;
}

.timeline-bubbles.bubbles-2 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 8%;
    margin-bottom: 1%;
    animation: pop2 3s infinite;
}

.timeline-bubbles.bubbles-3 {
    width: 1vw;
    height: 1vw;
    margin-left: 10%;
    margin-bottom: -2%;
    animation: pop1 3s infinite;
}

.timeline-submarine {
    background-image: url('/images/timeline/submarine3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 3%;
}

.timeline-submarine-title {
    font-family: 'Barlow';
    font-size: 43px;
    text-align: right;
    margin-right: 8%;
}

.timeline-submarine-windows {
    display: flex;
    justify-content: space-between;
    padding: 10% 12% 9%;
}

.timeline-submarine-windows div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timeline-submarine-windows p:first-child {
    background-color: #CDFCFF;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 0.75% 2.5%;
    width: 55px;
    height: 55px;
    font-size: 35px;
    font-weight: 300;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.timeline-submarine-windows p:first-child:hover {
    background-color: #9CBCCC;
}

.timeline-submarine-text {
    display: flex;
    justify-content: space-between;
    padding: 9% 12% 10%;
}

@keyframes pop3 {
    0% {
        transform: scale(0);   
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1); 
    }
    76%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes pop2 {
    0% {
        transform: scale(0);   
    }
    25%{
        transform:scale(0);
    }
    50% {
        transform: scale(1);
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pop1 {
    0% {
        transform: scale(0);   
    }
    25% {
        transform: scale(1);
    }
    26% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ProjectProgress.js */

.project-progress {
    padding: 0 5%;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 5%;
}

.project-progress p {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1% 4%;
    margin-bottom: 2%;
    width: 90%;
}

.project-progress p:nth-child(3),
.project-progress p:nth-child(4),
.project-progress p:nth-child(6) {
    padding: 2% 4%;
}

.project-progress-title {
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 43px;
    padding: 1% 2% !important; 
}

.project-progress-1 {
    background-image: url('/images/progress/research.png');
}

.project-progress-2 {
    background-image: url('/images/progress/design.png');
}

.project-progress-3 {
    background-image: url('/images/progress/communication.png');
}

.project-progress-4 {
    background-image: url('/images/progress/robot-mobility.png');
}

.project-progress-5 {
    background-image: url('/images/progress/body-trailer.png');
}

.project-progress-6 {
    background-image: url('/images/progress/robot-links.png');
}

.project-progress-7 {
    background-image: url('/images/progress/robot-head.png');
}

/* HomeControls.js */

.home-controls {
    background-image: url('/images/islands/island5.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Barlow';
    font-weight: 300;
    margin: 15% 0 10% 25%;
    padding: 13% 0 19%;
    cursor: pointer;
    width: 50%;
}

.home-controls p {
    margin-top: -10%;
    margin-left: 25%;
    font-size: 3vw;
    text-align: left;
}

.home-controls:hover {
    opacity: 0.3;
}


/* Footer.js */

.footer {
    text-align: right;
    color: black;
    background-color: #A9D09E;
    padding: 2%;
}

.footer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20%;
}

.footer-container-title{
    font-family: 'M PLUS 1p';
    font-size: 40px;
}

.footer-container-email {
    font-family: 'Barlow';
    font-size: 27px;
    margin: 2% 0;
}

.footer-container-icons a {
    margin: 0 10px;
}

.footer-container-icons a:hover {
    margin: 0 50px;
}

.footer-container > a {
    font-family: 'Barlow';
    text-decoration: none;
    color: #A9D09E;
    background-color: #1A1717;
    font-size: 22px;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
}

.footer-text {
    font-family: 'Poppins';
    font-size: 20px;
}
