/* Global Overwrites */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Archivo:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    padding:0;
    margin:0 auto;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}


/* Controls.js */

.controls {
    text-align: center;
}

.controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.controls li {
    float: left;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.controls li a:hover {
    background-color: #111;
}


/* Navbar.js */

.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.navbar li:last-child {
    float: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDD69D;
}

.navbar li {
    float: left;
    padding: 1% 2%;
}

.navbar li a {
    display: block;
    font-family: 'Barlow';
    font-size: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar li a {
        font-size: 20px;
        padding: 10px 16px;
    }
}

@media (max-width: 428px) {
    .navbar li a {
        font-size: 10px;
        padding:0;
    }
}


/* Home.js */

.home {
    border: 60px solid #9AD6F3;
    background-color: #EAF6FC;
    text-align: center;
}

@media (max-width: 768px) {
    .home {
        border: 20px solid #9AD6F3;
    }
}

@media (max-width: 428px) {
    .home {
        border: 10px solid #9AD6F3;
    }
}


/* FirstPage.js */

.first-page {
    text-align: end;
    padding-top: 15%;
}

.first-page-bubbles,
.meet-robot-bubble,
.name-island-bubbles {
    background-color: #9CBCCC;
    border-radius: 50%;
    animation: pulse 5s infinite;
    margin-top: 1%;
}

.first-page-bubbles.bubbles-1 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 15%;
}

.first-page-bubbles.bubbles-2 {
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 17%;
}

.first-page-bubbles.bubbles-3 {
    width: 1.1vw;
    height: 1.1vw;
    margin-left: 15%;
}

.first-page-bubbles.bubbles-4 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 22%;
}

.first-page-bubbles.bubbles-5 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 19%;
}

.first-page-bubbles.bubbles-6 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 20%;
    margin-top: 2%;
}

.first-page-bubbles.bubbles-7 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 17%;
    margin-top: 3%;
}

.first-page-bubbles.bubbles-8 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 19%;
}

.first-page-bubbles.bubbles-9 {
    width: 0.8vw;
    height: 0.8vw;
    margin-left: 18%;
}

.first-page-logo {
    position: absolute;
    left: 27%;
    top: 150px;
    width: 45%;
    z-index: 50;
}

.first-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    position: relative;
    z-index: 100;
    top: -16vh;
}

.first-page-container-image {
    margin-left: 18%;
    margin-top: 7%;
    background-image: url("/images/blue-robot.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    padding-top: 20%;
}

.first-page-container-image:hover {
    background-image: url("/images/blue-robot-arms-up.png");
}

.first-page-container-info {
    display: flex;
    flex-flow: column;
    background-image: url('/images/islands/island1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 1% 0 0;
    height: 15vh;
    width: 13%;
    margin-right: 17%;
    margin-bottom: 10%;
}

.first-page-container-info p:first-child {
    font-family: 'Poppins';
    /* font-size: 25px; */
    font-size: 1.85vw;
    font-weight: bold;
    padding-top: 5%;
}

.first-page-container-info p:last-child {
    font-family: 'Poppins';
    /* font-size: 18px; */
    font-size: 1.2vw;
    font-weight: 600;
}

.first-page img:last-child {
    position: relative;
    right: 10%;
    top: -16vh;
}

@media (max-width: 768px) {
    .first-page-logo {
        top: 110px;
    }
    
    .first-page-container-info {
        margin-top: 20%;
    }

    .first-page-container-image {
        width: 20%;
        padding-top: 33%;
    }

    .first-page img:last-child {
        width: 10%;
        margin-top: -10%; 
    }
}


/* AboutIsland.js */

.about-island {
    background-image: url('/images/islands/island2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5% 0 7%;
    margin-right: 4%;
    margin-top: 5%;
    position: relative;
}

.about-island .about-island-title {
    font-family: 'Archivo', sans-serif;
    /* font-size: 40px; */
    font-size: 3.5vw;
    font-weight: 500;
}

.about-island .about-island-body {
    font-family: 'Poppins';
    /* font-size: 19px; */
    font-size: 1.5vw;
    font-weight: 300;
    padding: 2% 15% 0;
 }

 @media (max-width: 768px) {
    .about-island {
        padding: 5% 0 9%;
        margin-top: -12%;
    }
    
    .about-island .about-island-title {
        font-size: 30px;
        padding-left: 4%;
    }
    
    .about-island .about-island-body {
        font-size: 10px;
        line-height: 20px;
    }
 }

 @media (max-width: 428px) {
    .about-island {
        margin-top: -21%;
        margin-left:2%;
    }
    
    .about-island .about-island-title {
        font-size: 17px;
        padding-left: 4%;
    }
    
    .about-island .about-island-body {
        font-size: 7px;
        line-height: 12px;
        padding-right: 14%;
        padding-left: 7%;
    }
 }


/* MeetOurRobot.js */ 

.meet-robot {
    margin-top: 20%;
}

.meet-robot-turtle {
    margin-right: 60%;
    margin-bottom: 2%;
}

.meet-robot > p {
    font-family:'Barlow';
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 0%;
    font-weight: 600;
    margin: 1% 42% 1% 0;
}

.meet-robot-bubble.bubble-1 {
    height: 1vw;
    width: 1vw;
    margin-left: 22%;
}

.meet-robot-bubble.bubble-2 { 
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 24%;
}

.meet-robot-bubble.bubble-3 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 22%; 
}

.meet-robot-bubble.bubble-4 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 36%; 
}

.meet-robot-bubble.bubble-5 {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 38%; 
}

.meet-robot-bubble.bubble-6 {
    height: 1vw;
    width: 1vw;
    margin-left: 37%; 
}

@keyframes pulse {
    0% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
    50% {
        transform: scale(1.5);
        transform: translate(50%, -50%);
    }
    100% {
        transform: scale(.7);
        transform: translate(0%, 50%);
    }
}

.model-view {
    background-image: url('/images/islands/island3.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20% 0% 10% 10%;
    margin: -30% 0% 0% 50%;
}

model-viewer {
    width: 300px;
    height: 400px;
    background-color: transparent;
    padding-top: 10%;
    margin-left: 0%;
    color: transparent;
    margin-top: -45%;
}

@media (max-width: 768px) {
    .meet-robot {
        margin-top: 10%;
    }

    .meet-robot-turtle {
        width: 10%;
    } 

    .meet-robot > p {
        font-size: 20px;  
    }

    model-viewer {
        width:200px;
        height:300px; 
    }

    .model-view {
        margin-right: 5%;
        padding-top: 13%;
    }
}

@media (max-width: 428px) {

    .meet-robot {
        margin-top: 10%;
        margin-bottom: 0%
    }

    .meet-robot > p {
        font-size: 18px;
        margin-left: -22%;  
    }

    .meet-robot-top {
        margin-left: -20%;
    }

    .meet-robot-bottom {
        margin-left: -18%;
    }

    model-viewer {
        width: 120px;
        height: 170px;
        padding: 0;
        margin: 0;
    }

    .model-view {
        padding: 8% 8% 8% 12%;
        margin-left: 40%;
        margin-bottom: 10%;
    }
}

/* NameIsland.js*/

.name-island {
    top: -15vh;
    position: relative;
    background-image: url('/images/islands/island4.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 5%;
    padding: 5% 8% 7% 3%;
    width: 45%;
 }

.name-island-title {
    font-family: 'Archivo', sans-serif;
    font-size: 2.9vw;
    font-weight: 500;
    padding: 1.5% 0 1% 10%;
}

.name-island-subtitle {
    font-family: 'Archivo', sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    padding: 1.5% 0 1% 20%;
}

.name-island-body {
    font-family: 'Poppins';
    font-size: 1.1vw;
    font-weight: 300;
    padding: 1.5% 1% 1%;
    margin: 0 5% 0 16%;
}

.name-island-bubbles.bubble-1 {
    position: absolute;
    left: 135%;
    top: 40%;
    height: 1.5vw;
    width: 1.5vw;
}

.name-island-bubbles.bubble-2 {
    position: absolute;
    left: 130%;
    top: 47%;
    width: 1.5vw;
    height: 1.5vw;
}

.name-island-bubbles.bubble-3 {
    position: absolute;
    left: 133%;
    top: 55%;
    width: 1vw;
    height: 1vw;
}

@media (max-width: 768px) {
    .name-island {
        margin-top: 10%;
    }

    .name-island-title {
        font-size: 25px;
        padding-right: 3%;
    }
    
    .name-island-subtitle {
        font-size: 12px;
        padding: 2% 13% 1% 20%;
    }

    .name-island-body {
        font-size: 8px;
        line-height: 14px;
        margin: 2%;
    }
}

@media (max-width: 428px) {
    .name-island {
        position: relative;
        margin-top: 40%;
        width: 83%;
        margin-bottom: 20%;
    }

    .name-island-title {
        font-size: 18px;
        padding-right: 13%;
    }
    
    .name-island-subtitle {
        font-size: 11px;
        line-height: 14px;;
        padding: 2% 10% 0% 20%;
    }

    .name-island-body {
        font-size: 8px;
        line-height: 14px;
        padding-right: 10%;
        padding-left: 12%;
    }

    .name-island-bubbles.bubble-1 {
        left: 77%;
        top: 90%;
    }
    
    .name-island-bubbles.bubble-2 {
        left: 74%;
        top: 94%;
    }
    
    .name-island-bubbles.bubble-3 {
        left: 76%;
        top: 98%;
    }
}

/* Timeline.js */

.timeline {
    margin-top: 10%;
    margin-bottom: 5%;
}

.timeline-bubbles {
    background-color: #9CBCCC;
    border-radius: 50%;
}

.timeline-bubbles.bubbles-1 {
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
    animation: pop3 3s infinite;
}

.timeline-bubbles.bubbles-2 {
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 8%;
    margin-bottom: 1%;
    animation: pop2 3s infinite;
}

.timeline-bubbles.bubbles-3 {
    width: 1vw;
    height: 1vw;
    margin-left: 10%;
    margin-bottom: -2%;
    animation: pop1 3s infinite;
}

.timeline-submarine {
    background-image: url('/images/timeline/submarine3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 3%;
}

.timeline-submarine-title {
    font-family: 'Barlow';
    font-size: 43px;
    text-align: right;
    margin-right: 8%;
}

.timeline-submarine-windows {
    display: flex;
    justify-content: space-between;
    padding: 10% 12% 9%;
}

.timeline-submarine-windows div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.timeline-submarine-windows p:first-child {
    background-color: #CDFCFF;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 0.75% 2.5%;
    width: 55px;
    height: 55px;
    font-size: 35px;
    font-weight: 300;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.timeline-submarine-windows p:first-child:hover {
    background-color: #9CBCCC;
}

.timeline-submarine-text {
    display: flex;
    justify-content: space-between;
    padding: 9% 12% 10%;
}

@keyframes pop3 {
    0% {
        transform: scale(0);   
    }50%{
        transform: scale(0);
    }75%{
        transform: scale(1); 
    }76%{
        opacity:1;
    }100%{
        opacity:0;
    }
}

@keyframes pop2 {
    0% {
        transform: scale(0);   
    }25%{
        transform:scale(0);
    }50% {
        transform: scale(1);
    }51% {
        opacity: 1;
    }100% {
        opacity: 0;
    }
}

@keyframes pop1 {
    0% {
        transform: scale(0);   
    }25% {
        transform: scale(1);
    }26% {
        opacity: 1;
    }100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .timeline {
        margin-top: -10%;
    }

    .timeline-bubbles.bubbles-1 {
        margin-left: 12%;
    }

    .timeline-bubbles.bubbles-2 {
        margin-left: 10%;
    }

    .timeline-bubbles.bubbles-3 {
        margin-bottom: -6%;
        margin-left: 12%;
    }
    
    .timeline-submarine-title {
        font-size: 25px;
    }

    .timeline-submarine-windows p:first-child {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .timeline-submarine-windows p {
        font-size: 12px;
    }

    .timeline-submarine-windows {
        padding: 12% 7% 12%;
    }
}

@media (max-width: 428px) {
    .timeline {
        margin-top: -20%;
    }

    .timeline-bubbles.bubbles-3 {
        margin-bottom: -4%;
    }
    
    .timeline-submarine-title {
        font-size: 20px;
    }

    .timeline-submarine-windows p:first-child {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }

    .timeline-submarine-windows p {
        font-size:5px;
    }

    .timeline-submarine-windows {
        padding: 12% 7%;
    }
}


/* ProjectProgress.js */

.project-progress {
    padding: 0 5%;
    font-size: 1.25vw;
    text-align: left;
    margin-top: 5%;
}

.project-progress p {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1% 4%;
    margin-bottom: 2%;
    width: 90%;
}

.project-progress p:nth-child(6), 
.project-progress p:nth-child(3),
.project-progress p:nth-child(4) {
    padding: 2% 4%;
}

.project-progress-title {
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 43px;
    padding: 1% 2% !important; 
}

.project-progress-1 {
    background-image: url('/images/progress/research.png');
}

.project-progress-2 {
    background-image: url('/images/progress/design.png');
}

.project-progress-3 {
    background-image: url('/images/progress/communication.png');
}

.project-progress-4 {
    background-image: url('/images/progress/robot-mobility.png');
}

.project-progress-5 {
    background-image: url('/images/progress/body-trailer.png');
}

.project-progress-6 {
    background-image: url('/images/progress/robot-links.png');
}

.project-progress-7 {
    background-image: url('/images/progress/robot-head.png');
}

@media (max-width: 768px) {

    .project-progress-title  {
        font-size: 25px;
        padding-bottom: 2%;
    } 

    .project-progress  {
        font-size: 10px;
    } 
    
    .project-progress-1 {
        margin-top: 4%;
    }

    .project-progress p:nth-child(3),
    .project-progress p:nth-child(4),
    .project-progress p:nth-child(6) {
        padding: 2% 4% 3% 4%; 
    }
}

@media(max-width: 428px) {
    
    #project-progress-title  {
        font-size: 20px;
        padding-bottom: 2%;
    }
    
    .project-progress p {
        font-size: 8px;
        padding-top: 3%;
        padding-bottom: 4%;
    }

    .project-progress-1 {
        background-image: url('/images/mobile/research_mobile.png');
    }
    
    .project-progress-2 {
        background-image: url('/images/mobile/design_mobile.png');
    }
    
    .project-progress-3 {
        background-image: url('/images/mobile/communication_mobile.png');
    }
    
    .project-progress-4 {
        background-image: url('/images/mobile/robot-mobility_mobile.png');
    }
    
    .project-progress-5 {
        background-image: url('/images/mobile/body-trailer_mobile.png');
    }
    
    .project-progress-6 {
        background-image: url('/images/mobile/robot-links_mobile.png');
    }
    
    .project-progress-7 {
        background-image: url('/images/mobile/robot-head_mobile.png');
    }

    .project-progress p:nth-child(3){
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .project-progress p:nth-child(4) {
        padding-top: 4%;
        padding-bottom: 3%;
    }

    .project-progress p:nth-child(6) {
        padding-top: 3%;
        padding-bottom: 4%;
    }

    .project-progress p:nth-child(7),
    .project-progress p:nth-child(8) {
        padding-top: 2%;
        padding-bottom:2%; 
    }
}


/* HomeControls.js */

.home-controls {
    background-image: url('/images/islands/island5.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Barlow';
    font-weight: 300;
    margin: 15% 0 10% 25%;
    padding: 13% 0 19%;
    cursor: pointer;
    width: 50%;
}

.home-controls p {
    margin-top: -10%;
    margin-left: 25%;
    font-size: 3vw;
    text-align: left;
}

.home-controls:hover {
    opacity: 0.3;
}

@media (max-width: 768px)
{
    .home-controls {
        margin-top:15%;
        margin-bottom:10%;
    }
}


/* Footer.js */

.footer {
    text-align: right;
    color: black;
    background-color: #A9D09E;
    padding: 2%;
}

.footer-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20%;
}

.footer-container-title{
    font-family: 'M PLUS 1p';
    font-size: 40px;
}

.footer-container-email {
    font-family: 'Barlow';
    font-size: 27px;
    margin: 2% 0;
}

.footer-container-icons a {
    margin: 0 10px;
}

.footer-container-icons a:hover {
    margin: 0 50px;
}

.footer-container > a {
    font-family: 'Barlow';
    text-decoration: none;
    color: #A9D09E;
    background-color: #1A1717;
    font-size: 22px;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
}

.footer-text {
    font-family: 'Poppins';
    font-size: 20px;
}

@media (max-width: 768px) {

    .footer-container {
        padding: 10%;
    }
    
    .footer-container-title{
        font-size: 30px;
    }
    
    .footer-container-email {
        font-size: 20px;
        margin: 2% 0;
    }
    
    .footer-container-icons img {
        width: 48px;
    }

    .footer-container-icons a {
        margin: 0 4px;
    }
    
    .footer-container-icons a:hover {
        margin: 0 50px;
    }
    
    .footer-container > a {
        font-size: 15px;
    }
    
    .footer-text {
        font-size: 16px;
    }
}

@media (max-width: 428px) {

    .footer-container {
        padding: 10%;
    }
    
    .footer-container-title{
        font-size: 14px;
    }
    
    .footer-container-email {
        font-size: 12px;
        margin: 2% 0;
    }
    
    .footer-container-icons img {
        width: 30px;
    }

    .footer-container-icons a {
        margin: 0 2px;
    }
    
    .footer-container > a {
        font-size: 9px;
    }
    
    .footer-text {
        font-size: 8px;
    }
    
}


